In [1]:
from portfolio_analyzer.stocks_data_loader import yahoo2pandas
from portfolio_analyzer.optimizers import approximated_max_kelly, minimal_variance, risk_parity

In [2]:
tickers = ['VTI', 'TLT', 'IAU']
data = yahoo2pandas(tickers, frequency='weekly')

In [3]:
risk_parity(data)

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 7.760722829011261e-14
            Iterations: 19
            Function evaluations: 95
            Gradient evaluations: 19

       VTI      TLT      IAU
0  0.32495  0.42526  0.24979

In [4]:
minimal_variance(data)

        VTI       TLT       IAU
0  0.336437  0.515667  0.147896

In [5]:
approximated_max_kelly(data)

        VTI       TLT       IAU
0  0.335625  0.503432  0.160943

In [6]:
from portfolio_analyzer.balancer import Rebalance
from portfolio_analyzer.utils import portfolio2dic

In [7]:
portfolio_exposure = {  # the number of stock You have currently in your portfolio.
    'VTI': 11, 
    'TLT': 22, 
    'IAU': 33
}

extra_cash = 123. # Cash you want add or subtract from your portfolio. 

optimal_weights = portfolio2dic(approximated_max_kelly(data))

In [8]:
rebalancer = Rebalance(portfolio_exposure, optimal_weights, extra_cash)

In [9]:
new_exposure, current_balance = rebalancer.compute()

In [10]:
new_exposure, current_balance

({'VTI': 14, 'TLT': 18, 'IAU': 58}, 5803.895059585571)

In [11]:
rebalancer.diff(new_exposure)

{'VTI': 3, 'TLT': -4, 'IAU': 25}